@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
}

/* header styles here */
.banner-container {
  max-width: 1320px;
  height: 600px;
  margin: 50px auto;
  background-image: url(/images/Banner\ Image.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}

.banner-content {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  align-items: center;
}

.banner-content p {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}
.banner-content h1 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  letter-spacing: 0%;
  text-align: center;
}

/* 65% section styles here */

.second-section-container {
  max-width: 802.9px;
  height: 806px;
  margin: 70px auto;
}

.second-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-section-content h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.second-section-content p {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.second-section-content h3 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 48px;
}

.new-year-img {
  width: 802.9px;
  height: 500px;
}

/* Midnight Section Styles Here */

.midnight-container {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  margin-top: 50px;
  background-image: url(/images/Vectorrr.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 100px;
}

.leftside-content {
  width: 66%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 126px;
  text-align: left;
}
.leftside-content h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  /* margin: 126px 94px 26px 126px; */
}
.leftside-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  padding: 35px 0;
  /* margin-right: 126px;
  margin-left: 39px; */
}
.leftside-content span {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.rightside-content {
  width: 34%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* holiday container style */

.holiday-container {
  width: 1320px;
  height: 986.07px;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 100px;
  position: relative;
}

.holiday-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1068px;
  height: 260px;
  margin: 0 auto;
}

.holiday-text-container h5 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.holiday-text-container h1 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

.holiday-text-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}

.solid-color {
  width: 1320px;
  height: 229px;
  background-color: red;
  position: absolute;
  top: 77%;
}
/* .giftbox {
  display: flex;
  justify-content: space-between;
  position: relative;
} */
.box-img {
  width: 60%;
  position: absolute;
  left: 2%;
}
.discount-img {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 72%;
}
